@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --module-color-1: #FDE047; /* Amarillo vibrante - cálido, "valiente" */
  --module-color-2: #FACC15;
  --module-color-3: #FCD34D;
  --module-color-4: #FDE68A;
  --module-color-5: #D9F99D; /* Verde lima - transición a frío */
  --module-color-6: #A7F3D0;
  --module-color-7: #6EE7B7; /* Esmeralda claro - "frío" */
}