@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --module-color-1: #DC2626; /* Rojo intenso */
  --module-color-2: #EA580C; /* Naranja quemado */
  --module-color-3: #F59E0B; /* Ámbar */
  --module-color-4: #FBBF24; /* Amarillo anaranjado */
  --module-color-5: #FCD34D; /* Amarillo dorado */
  --module-color-6: #FDE047; /* Amarillo brillante */
  --module-color-7: #FEF08A; /* Amarillo pálido */
}
